button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.btn {
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--primary-clr);
    color: #fff;

    &:hover {
        background-color: var(--primary-clr-accent);
    }
}

.btn-outline {
    border: 1px solid var(--primary-clr);
    color: var(--primary-clr);

    &:hover {
        background-color: var(--primary-clr);
        color: #fff;
    }
}

.btn-icon {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: normal;
}

.btn-icon.btn-primary span {
    color: #fff;
}

.btn-icon.btn-outline span {
    color: var(--primary-clr);
}

.btn-icon.btn-outline:hover span {
    color: #fff;
}
